/* External CSS file for main.html */
/* Focused on Mobile-First CSS */

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

p, blockquote {
  /* default size of these are about 16px = 1em
  When working with font sizes try to use em or rem units */
  font-size: .9em;
  line-height: 1.5em; /* Increases line-height between lines */
}

ul {
  list-style-type: none; /* removes the bullet dot for unordered lists */

  /* because we want to control these ourselves */
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: .8em 1.2em;
}

.logo {
  width: 80px;
  height: 80px;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 120%;
  width: 180%;
}

.server {
  margin-top: 5%;
}

.hide-mobile{
  display: none;
}

h1, .subhead {
  position: relative;
  z-index: 3;
}

.subhead {
  font-size: 1em;
}

/* Creates the curve and skewed design for the blue-container div */
.blue-container {
  width: 100%;
  background-color: #00C2FF;
  color: white;
  margin-top: 12%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00C2FF;
  position: absolute; /* by setting the position to absollute, you can pretyy much move it around */
  top: -39px;
  right: 0;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  top: -80px;
  right: 0px;
  border-radius: 50%;
  z-index: -1;
}

/* helps to un-skew the contents of the container */
.blue-container ul {
transform: skewY(2deg);
}

/* creates space in between the bottom of each list item */
.blue-container ul li {
  margin-bottom: 3em;
}

.blue-container ul li p {
    padding: 0 .5em;
}


/* decreases the size for all 3 icons */
.blue-container img {
  width: 14%;
}

/* since the 3rd icon (phone) is a vertical image it's size is
   different, this helps decrease it to the correcr size */
.blue-container ul li:nth-child(3) img {
  width: 8% ;
}


.gray-container {
  background-color: #F6F6F6 ;
  margin-top: -3%; /* takes out the white space create from the skewed blue-container */
  padding-top: 5%;
}


figcaption {
  font-weight: bold;
  color: #00C2FF;
}

/* Get Started Button */
.cta {
  background-color: #00CC80;
  width: calc(100% - 1em) ;
  display: block;
  color: white;
  border-radius: 20px;
  padding: .5em;
  text-decoration: none; /* This takes off the underline at the bottom of links */
  font-size: 1.5em;
  position: relative;
  z-index: 4;
  margin-bottom: 8%;
}

.footer-container {
  width: 100%;
  background-color: #3D444A;
  color: white;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3D444A;
  position: absolute; /* by setting the position to absollute, you can pretyy much move it around */
  top: -39px;
  left: 0;
  z-index: -2;

}

.footer-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white; /* this is a circle that creates the curve */
  position: absolute;
  top: -80px;
  left: 0px;
  border-radius: 50%;
  z-index: -1;
}

.footer-container .container {
  transform: skewY(-2deg);
}

.footer-links {
  margin: 0 auto ;
}

.footer-links li {
  display: inline-block; /* makes elements go side by side */
}

.footer-links li a {
  color: #9D9D9D;
  font-size: .8em;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 7; /* the higher the z-index is means that it's on top of a majority of the other elements */
  padding-top: 3em;
}

/* changes the background color of each li */
nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(52, 59, 63);
}

/* changes the background color of each li when hovered on */
nav ul li a:hover {
  background-color: rgb(65, 73, 78);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -2.2em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 15px;
  /* makes it so that when you hover over something thats not a link into a pointer cursor */
  cursor: pointer;
}

/* Media Queries or... we could just use Bootstrap*/
@media only screen and (min-width: 650px)  {

    .server {
        width: 50%;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .subhead {
        font-size: 1.4em;
        margin-bottom: 12%;
    }

    .blue-container {
        margin: 0;
    }

    .blue-container img {
        width: 20%;
    }

    .blue-container ul li:nth-child(3) img {
        width: 11%;
        margin-top: -6px;
    }

    .blue-container ul {
        display: flex;
        margin-top: -1em;
        align-items: center;
    }

    .blue-container ul li {
        margin-bottom: 0;
    }

    .blue-container ul li p {
        padding: 0 .8em;
    }

    .gray-container ul {
        display: flex;
    }

    nav ul {
        width: 40%;
    }



}

@media only screen and (min-width: 875px)  {

    .subhead {
        margin-bottom: 15%;
    }

    .blue-container ul {
        margin: 0 0 4% 0;
    }

    .gray-container ul {
        margin: 4% 0 0;
    }

}

@media only screen and (min-width: 1024px)  {

    .cta {
        width: 50%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    .server{
      width: 40%;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    .scroll {
        width: 30px;
        animation: move 1s infinite alternate;
    }

    @keyframes move {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(20px);
        }
    }


    /* This one gets center of page ... well for this case it works
    with height center */
    .cta {
    top: 50%;
    left: 23.5%;
    }

}

@media only screen and (min-width: 1600px)  {

    .server {
        width: 40%;
        margin: 5em auto 4em 2%;
    }

    .container {
        width: 70%;
    }

    .blue-container {
        padding: 5em 0 2em;
    }

    .blue-container ul li p, blockquote {
        font-size: 1.3em;
    }

    .gray-container {
        padding: 4em 0 4em;
    }

    h2 {
        margin-top: 4em;
    }

    .blue-container img {
        width: 15%;
    }

    .blue-container ul li:nth-child(3) img {
        width: 8%;
        margin-top: -4px;
    }



    .cta {
      top: 50%;
      left: 23.5%;
    }

}
